<!DOCTYPE html>
<html lang="ru">
<head>
	<!-- IE bye bye! -->
	<!--[if IE]>
		<meta http-equiv="refresh" content="0;url=http://www.google.com/chrome/">
	<![endif] -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content=""/>
	<meta name="keywords" content=""/>
	<meta name="author" content=""/>
	<meta name="copyright" content="">
	<meta http-equiv="Reply-to" content="">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic" rel="stylesheet">
	<title>Hello</title>
</head>
<body>
